*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111111;
    font-family: "Sora", serif;
}

.fa-bars{
    color: #179800;
    cursor: pointer;
    transition: color 0.3s linear;
}

.fa-bars:hover{
    color: #111111;
}

.fa-star{
    font-size: 12px;
    color: rgb(241, 241, 7);
}


.bannerContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
 
    
}

.bannerImageDiv{
    margin: 0 auto;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.bannerImageDiv img{
  width: 100%;
}
  



/* Media Query */

@media  (max-width: 639px) {
    
.bannerImageDiv{
   width: 100vw;
   
}

  
}




@media  (min-width: 640px) {
  
    .bannerImageDiv{
        width: 90vw;
    }

    .fa-star{
        font-size: 10px;
        
    }

    .productRightText{
        line-height: 0.7;
    }

    .productRightText span{
        font-size: 10px;

    }

    .productRightText h5{
        font-size: 10px;
        font-weight: 400;
    }

    .productRightText p{
        font-size: 8px;
        font-weight: 400;
    }


    

}



@media  (min-width: 892px) {
  
    .bannerImageDiv{
        width: 60vw;
    }

    
}



@media  (min-width: 1186px) {
  
    .bannerImageDiv{
        width: 50vw; 
    }  


}



@media  (min-width: 1480px) {
  


}



@media  (min-width: 1620px) {
  


}